
@media screen and (max-width: 1200px) {

	.navbar {	
	    padding-bottom:  140px;	
	    padding-left: 20px;
        display: flex;       
        flex-direction: column;        
    }
    .navbar-link {
    	flex-direction: column;      
    }
    .navbar> img{margin-top: 0;}
}

div, footer{ 
	padding: 7px;
	margin-left: 100px;
	margin-right: 100px;
	text-align: center;
}

footer{font-family: arial;}

header{
	margin-left: 100px;
	margin-right: 100px;
}

footer>a{
	text-decoration: none;
	color:black;
}

footer{
	color:green;
	border: solid 2px  #24252a;
}

iframe{
	width:560px; 
	height:315px;
	border: solid #8bd12a;
	-webkit-box-shadow: 1px 10px 19px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 10px 19px -10px rgba(0,0,0,0.75);
	 box-shadow: 1px 10px 19px -10px rgba(0,0,0,0.75);
}

h1{
	font-family: arial;
	font-size: 30px;
}

div,footer{
	background-color:  #f9f9f9;
}

body{
	margin-left: 300px;
	margin-right:300px;
	margin-top: 70px;
}

img{
	width: 90px;
	position: relative;	
	left: 30px;
	bottom: 13px;	
	float: left;
}

.video-content{
	padding-top:50px; 
	padding-bottom: 60px; 
	text-align: center;
	background-color:  #f9f9f9;
}

.nav-link{
	text-decoration-line: none;
	color: white;
	position: relative;
	margin-left: 10px;
	top: 20px;
}

.grid-container>p{
	text-align: center;
	position: relative;
	bottom:  15px;
	font-family: arial;
	font-size: 15px;
}

.navbar{  	
  position: fixed;
  background-color: #24252a;
  top:0;
  height: 65.5px;
  width: 1230px;
  border:solid 1px; 
  -webkit-box-shadow: -1px 0px 9px -4px;
  -moz-box-shadow: -1px 0px 9px -4px rgba(0,0,0,0.75);
  box-shadow: -1px 0px 9px -4px rgba(0,0,0,0.75);
}

.navbar> a{
	float: right;
	right: 20px;
	padding-top: 5px;
	margin-right: 20px;
	font-size: 15px;
	font-family: arial;
}

a:hover{
	border-bottom: solid #8bd12a;	
}

.hero {
	padding: 30px;
	text-align: center;	

}

.grid{    
	display: inline-block;
	margin: 50px;
	border: solid;
	text-align: center;
	background-color:  #24252a;
	color: white;
	-webkit-box-shadow: 1px 10px 19px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 10px 19px -10px rgba(0,0,0,0.75);
	box-shadow: 1px 10px 19px -10px rgba(0,0,0,0.75);
 
}
.grid > div {	 
	border:solid;
	border-radius: 50%;
	border-color: white;
	text-align: center;
	white-space: pre;
}

.grid-argument{
	 margin: 50px;
	 border: solid;
	 border-color: white;
	 text-align: center;
	 background-color:  #24252a;
	 color: white;
	 -webkit-box-shadow: 1px 10px 19px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 10px 19px -10px rgba(0,0,0,0.75);
	 box-shadow: 1px 10px 19px -10px rgba(0,0,0,0.75);
}

.grid-argument> div{
	margin-right: 450px;
	margin-left: 450px;
	border-radius: 50%;
}

i{
	color: #8bd12a;	
}

.grid>p{
	max-width: 250px;
	text-align: center;
}

.argument{
	text-align: center;
	margin: 50px;
}

h3{
	font-family: arial;
}

.grid-container{
	text-align: center;	
}

 .email{ 	
	font-size: 16px;
	text-align: center;
	height: 21.5px;
 }

.button {
	background-color: #8bd12a;
	border: solid 1px #24252a ;
	color:  #24252a;
	padding: 3px ;
	text-align: center;
	text-decoration: none; 
	font-size: 16px;
	font-family: arial;
	cursor: pointer;
}
